@model Models.Registraction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registraction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.studentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.studentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
