@model IEnumerable<Models.Residence>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">All Residences</h1>
        <h1 class="page-subhead-line">Click residence of your choice to apply. You can search by clicking an alphabet and all residence with the same latter will display. </h1>
        <div class="col-lg-6">
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("A", "Applications"))
            { <input type="hidden" value="A" /><input type="submit" value="A" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("B", "Applications"))
            { <input type="hidden" value="B" /><input type="submit" value="B" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("C", "Applications"))
            { <input type="hidden" value="C" /><input type="submit" value="C" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("D", "Applications"))
            { <input type="hidden" value="D" /><input type="submit" value="D" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("E", "Applications"))
            { <input type="hidden" value="E" /><input type="submit" value="E" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("F", "Applications"))
            { <input type="hidden" value="F" /><input type="submit" value="F" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("G", "Applications"))
            { <input type="hidden" value="G" /><input type="submit" value="G" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("H", "Applications"))
            { <input type="hidden" value="H" /><input type="submit" value="H" />}
            </div>

            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("I", "Applications"))
            { <input type="hidden" value="I" /><input type="submit" value="I" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("J", "Applications"))
            { <input type="hidden" value="J" /><input type="submit" value="J" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("K", "Applications"))
            { <input type="hidden" value="K" /><input type="submit" value="K" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("L", "Applications"))
            { <input type="hidden" value="L" /><input type="submit" value="L" />}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("M", "Applications"))
            { <input type="hidden" value="M" /><input type="submit" value="M" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("N", "Applications"))
            { <input type="hidden" value="N" /><input type="submit" value="N" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("O", "Applications"))
            { <input type="hidden" value="O" /><input type="submit" value="O" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("P", "Applications"))
            { <input type="hidden" value="P" /><input type="submit" value="P" />}
            </div>

            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("Q", "Applications"))
            { <input type="hidden" value="Q" /><input type="submit" value="Q" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("R", "Applications"))
            { <input type="hidden" value="R" /><input type="submit" value="R" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("S", "Applications"))
            { <input type="hidden" value="S" /><input type="submit" value="S" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("T", "Applications"))
            { <input type="hidden" value="T" /><input type="submit" value="T" />}
            </div>

            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("U", "Applications"))
            { <input type="hidden" value="U" /><input type="submit" value="U" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("V", "Applications"))
            { <input type="hidden" value="V" /><input type="submit" value="V" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("W", "Applications"))
            { <input type="hidden" value="W" /><input type="submit" value="W" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("X", "Applications"))
            { <input type="hidden" value="X" /><input type="submit" value="X" />}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("Y", "Applications"))
            { <input type="hidden" value="Y" /><input type="submit" value="Y" />}
            </div>
            <div class="page-subhead-line col-lg-1">
                @using (Html.BeginForm("Z", "Applications"))
            { <input type="hidden" value="Z" /><input type="submit" value="Z" />}
            </div>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="col-md-6">
        <!--   Basic Table  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="~/Applications/Details">
                    <div class="panel-heading">
                        @Html.DisplayFor(modelItem => item.ResName)

                    </div>
                </a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Gender</b></td>
                                <td> Mixed</td>
                            </tr>
                            <tr>
                                <td><b>Room Type</b></td>
                                <td>Double and Triple</td>
                            </tr>
                            <tr>
                                <td><b>Capacity</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.capacity)
                                </td>
                            </tr>
                            <tr>
                                <td><b>Number of Rooms</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.noOfRooms)
                                </td>
                            </tr>
                            <tr>
                                <td><b>Number of Rooms<br />Available</b></td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td><b>Address</b></td>
                                <td>@Html.DisplayFor(modelItem => item.address)<br /> Contact No: @Html.DisplayFor(modelItem => item.contactNo)</td>
                            </tr>

                            <tr>


                                @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.residenceCode }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.residenceCode }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.residenceCode })
                                    </td>*@
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

}
