@model Models.Residence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Residence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noOfRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noOfRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.residenceCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
